
  .ew295-body-search {
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: #1e3046;
    border-radius: 5px;
    gap: 10px;
  }

  .ew295-body-search > input {
    width: 100%;
    background-color: transparent;
    border-style: none;
    outline: none !important;
    border-width: 0;
    color: #fff !important;
  }

  .ew295-body-search > button {
    background-color: transparent;
    border-style: none;
    color: #fff !important;
  }

  .ew295bodyMenu {
    display: flex;
    gap: 10px;
  }

  .ew295-login {
    display: flex;
    background-color: #1e3046;
    color: #fff !important;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
  }

  .ew295-login span,
  .ew295-login div {
    align-items: center;
    text-decoration: none;
    white-space: nowrap;
    /* Her iki elemanı satır içi blok yap */
  }

  .ew295-login:hover {
    background-color: #123763;
  }

  .ew295-login > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ew295 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ew295title {
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ew295titlebody {
    color: #fff;
    width: var(--max);
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
  }

  .ew295titlebodytitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .ew295titlebodylang {
    width: auto;
    margin: -5px 0px -5px 0px;
  }

  .ew295titlebodylang ul {
    display: flex;
    gap: 5px;
  }

  .ew295body {
    width: var(--max);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0px 5px 0px;
    gap: 10px;
  }

  .ew295menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: var(--max);
  }

  .ew295menulist {
    width: calc(100% - 20px);
    background-color: #1e3046;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .ew295menubody {
    width: 100%;
    background-color: #1e3046;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ew295menulist ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    overflow-x: auto;
  }

  .ew295menulist ul a {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #ddd;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
  }

  .ew295menulist ul a:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
  }

  .ew295menulistactive {
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #000 !important;
    cursor: pointer;
  }

  .ew295menulistbody {
    width: 100%;
  }

  @media screen and (min-width: 1024px) {
    .ew295bodylogo {
      height: 50px;
    }
  }

  @media screen and (max-width: 1024px) {
    .ew295menu {
      overflow-x: auto;
    }

    .ew295menulist ul {
      flex-direction: row;
    }

    .ew295bodylogo {
      height: none !important;
      max-width: 80% !important;
    }
  }

  @media screen and (max-width: 768px) {
    .ew295menulist ul a {
      font-size: 14px;
    }
  }


  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-container {
    margin-left: auto;
    margin-right: auto;
  }


  .sliderxql5dvbody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9e9e9;
    padding: 25px 0px 25px 0px;
    margin: 10px 0px 0px 0px;
  }

  .sliderxql5dv {
    width: var(--max);
    margin: 10px 0px 10px 0px;
  }

  .swiper-pagination-ql5dv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px !important;
  }

  .sliderxql5dvtitle {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    color: #000;
  }

  @media screen and (max-width: 1024px) {
    .sliderxql5dv {
      width: 100%;
    }
  }

  .swiper-button-prev-ql5dv,
  .swiper-button-next-ql5dv {
    color: #000;
    font-size: 28px;
    font-weight: bold;
    z-index: 10;
    opacity: 0.4;
  }

  .swiper-slide>.swiper-slide33 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
  }

  .ql5dv {
    overflow-x: auto;
  }

  .ql5dv::-webkit-scrollbar {
    display: none;
  }

  .modulchildql5dv2 {
    text-align: -webkit-center;
    width: 100%;
    float: left;
    border-radius: 8px;
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.4);
    background-color: #fff;
   }

  .modulchildql5dv3 {
    float: left;
    padding: 5px;
  }


  .sliderxyt8gybody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9e9e9;
    padding: 25px 0px 25px 0px;
    margin: 10px 0px 0px 0px;
  }

  .sliderxyt8gy {
    width: var(--max);
    margin: 10px 0px 10px 0px;
  }

  .swiper-pagination-yt8gy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px !important;
  }

  .sliderxyt8gytitle {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    color: #000;
  }

  @media screen and (max-width: 1024px) {
    .sliderxyt8gy {
      width: 100%;
    }
  }

  .swiper-button-prev-yt8gy,
  .swiper-button-next-yt8gy {
    color: #000;
    font-size: 28px;
    font-weight: bold;
    z-index: 10;
    opacity: 0.4;
  }

  .swiper-slide>.swiper-slide33 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
  }

  .yt8gy {
    overflow-x: auto;
  }

  .yt8gy::-webkit-scrollbar {
    display: none;
  }

  .modulchildyt8gy2 {
    text-align: -webkit-center;
    width: 100%;
    float: left;
    border-radius: 8px;
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.4);
    background-color: #fff;
   }

  .modulchildyt8gy3 {
    float: left;
    padding: 5px;
  }


  .sliderxfr2irbody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9e9e9;
    padding: 25px 0px 25px 0px;
    margin: 10px 0px 0px 0px;
  }

  .sliderxfr2ir {
    width: var(--max);
    margin: 10px 0px 10px 0px;
  }

  .swiper-pagination-fr2ir {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px !important;
  }

  .sliderxfr2irtitle {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    color: #000;
  }

  @media screen and (max-width: 1024px) {
    .sliderxfr2ir {
      width: 100%;
    }
  }

  .swiper-button-prev-fr2ir,
  .swiper-button-next-fr2ir {
    color: #000;
    font-size: 28px;
    font-weight: bold;
    z-index: 10;
    opacity: 0.4;
  }

  .swiper-slide>.swiper-slide33 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
  }

  .fr2ir {
    overflow-x: auto;
  }

  .fr2ir::-webkit-scrollbar {
    display: none;
  }

  .modulchildfr2ir2 {
    text-align: -webkit-center;
    width: 100%;
    float: left;
    border-radius: 8px;
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.4);
    background-color: #fff;
   }

  .modulchildfr2ir3 {
    float: left;
    padding: 5px;
  }


  .sliderxhapopbody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9e9e9;
    padding: 25px 0px 25px 0px;
    margin: 10px 0px 0px 0px;
  }

  .sliderxhapop {
    width: var(--max);
    margin: 10px 0px 10px 0px;
  }

  .swiper-pagination-hapop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px !important;
  }

  .sliderxhapoptitle {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    color: #000;
  }

  @media screen and (max-width: 1024px) {
    .sliderxhapop {
      width: 100%;
    }
  }

  .swiper-button-prev-hapop,
  .swiper-button-next-hapop {
    color: #000;
    font-size: 28px;
    font-weight: bold;
    z-index: 10;
    opacity: 0.4;
  }

  .swiper-slide>.swiper-slide33 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
  }

  .hapop {
    overflow-x: auto;
  }

  .hapop::-webkit-scrollbar {
    display: none;
  }

  .modulchildhapop2 {
    text-align: -webkit-center;
    width: 100%;
    float: left;
    border-radius: 8px;
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.4);
    background-color: #fff;
   }

  .modulchildhapop3 {
    float: left;
    padding: 5px;
  }


  .sliderxyh5nrbody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9e9e9;
    padding: 25px 0px 25px 0px;
    margin: 10px 0px 0px 0px;
  }

  .sliderxyh5nr {
    width: var(--max);
    margin: 10px 0px 10px 0px;
  }

  .swiper-pagination-yh5nr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px !important;
  }

  .sliderxyh5nrtitle {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    color: #000;
  }

  @media screen and (max-width: 1024px) {
    .sliderxyh5nr {
      width: 100%;
    }
  }

  .swiper-button-prev-yh5nr,
  .swiper-button-next-yh5nr {
    color: #000;
    font-size: 28px;
    font-weight: bold;
    z-index: 10;
    opacity: 0.4;
  }

  .swiper-slide>.swiper-slide33 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
  }

  .yh5nr {
    overflow-x: auto;
  }

  .yh5nr::-webkit-scrollbar {
    display: none;
  }

  .modulchildyh5nr2 {
    text-align: -webkit-center;
    width: 100%;
    float: left;
    border-radius: 8px;
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.4);
    background-color: #fff;
   }

  .modulchildyh5nr3 {
    float: left;
    padding: 5px;
  }


  .sliderxndm15body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9e9e9;
    padding: 25px 0px 25px 0px;
    margin: 10px 0px 0px 0px;
  }

  .sliderxndm15 {
    width: var(--max);
    margin: 10px 0px 10px 0px;
  }

  .swiper-pagination-ndm15 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px !important;
  }

  .sliderxndm15title {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    color: #000;
  }

  @media screen and (max-width: 1024px) {
    .sliderxndm15 {
      width: 100%;
    }
  }

  .swiper-button-prev-ndm15,
  .swiper-button-next-ndm15 {
    color: #000;
    font-size: 28px;
    font-weight: bold;
    z-index: 10;
    opacity: 0.4;
  }

  .swiper-slide>.swiper-slide33 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
  }

  .ndm15 {
    overflow-x: auto;
  }

  .ndm15::-webkit-scrollbar {
    display: none;
  }

  .modulchildndm152 {
    text-align: -webkit-center;
    width: 100%;
    float: left;
    border-radius: 8px;
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.4);
    background-color: #fff;
   }

  .modulchildndm153 {
    float: left;
    padding: 5px;
  }


  .footer {
    position: relative;
    background: #1e3046;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
  }

  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  .social-icon__item,
  .menu__item {
    list-style: none;
  }

  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }

  .social-icon__link:hover {
    transform: translateY(-10px);
  }

  .menu__link {
    font-size: 1.2rem;
    color: #fff !important;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }

  .menu__link:hover {
    opacity: 1;
  }

  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }

  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='katman_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 640 65' style='enable-background:new 0 0 640 65;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%231e3046;%7D %3C/style%3E %3Cpath class='st0' d='M0,22.4C0,22.4,74.1,0,153,0c176.5,0,328.1,76.6,487,22.4V65H0V22.4z'/%3E%3C/svg%3E");
    background-size: 1000px 102px;
  }

  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }

  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }

  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }

  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }

  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

